<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Sign up</title>
    <style>.shadow{box-shadow:inset 0rem -1rem 3rem rgb(0 0 0 / 25%), 0rem 1rem 1rem rgb(0 0 0 / 15%)!important}

    @media (max-width: 900px){
    .w-25{
      width: 40%!important;
    }
    }
     @media (max-width: 600px){
    .w-25{
      width: 80%!important;
    }
    }

    .alert-p{
    text-align: center;
    font-size: smaller;
    padding: 0.5rem 0.5rem;
    }

    .team-title {
      font-size: 30px;
      font-weight: bold;
      padding-left: 0;
     }

   #tags {
       margin-bottom: 10px;
   }


    .my-badge {
        border-radius: 20px;
        background: #0b5ed7;
        margin-right: 5px;
    }

    .status-badge {
        border-radius: 4px;
        background: #0b5ed7;
        margin-right: 5px;
    }

    .email {
      margin-left: 10px;
      font-size: 13px;
      color: #999;
      text-decoration: none;
    }

    .ann-desc {
      margin-left: 10px;
    }

    .team-desc{
      word-break: normal;
      overflow-wrap: anywhere;
    }

    .ann-title {
      font-size: 20px;
      font-weight: bold;
      padding-left: 0;
    }

</style>

</head>
<body class="bg-dark" style="
    min-height: 100vh;
    display: flex;
    flex-direction: column;
">
<div id="navid">
    <script src="/js/nav.js"></script>
</div>

<div class="container bg-light shadow rounded pt-4 ps-1 pe-1 pb-2 mt-5 pb-4" style="width : 100%; height : 100%; max-width: 900px;">
    <center><h1 class="display-4 mt-1">Replies</h1></center>
    <div th:each="reply: ${replies}">
        <div class="row mb-3 ms-1 me-1 mt-4 p-1">

            <div class="col">
                <a th:href="@{/viewAnnouncement(ann_id=${reply.announcement.id})}" style="text-decoration: none!important; color: black">
                    <div class="row" style="display: flex; flex-direction: row-reverse">
                        <div class="ann-title" th:text="${reply.announcement.title}"></div>
                    </div>
                </a>
            </div>
            <div th:if="${reply.state.name() == 'PENDING'}" class="col-2">
                <div class="row" style="display: flex; flex-direction: row-reverse">
                    <span class="badge status-badge" style="background: #aaaa44;">Pending</span>
                </div>
            </div>
            <div th:if="${reply.state.name() == 'CONFIRMED'}" class="col-2">
                <div class="row" style="display: flex; flex-direction: row-reverse">
                    <span class="badge status-badge">Confirmed</span>
                </div>
            </div>
            <div th:if="${reply.state.name() == 'REJECTED'}" class="col-2">
                <div class="row" style="display: flex; flex-direction: row-reverse">
                    <span class="badge status-badge" style="background: #aa4444;">Rejected</span>
                </div>
            </div>
            <div th:if="${reply.state.name() == 'ACCEPTED'}" class="col-3" >
                <div class="row">
                    <div class="col-4">
                        <div class="row" style="display: flex; flex-direction: row-reverse">hours </div>
                        <div class="row" style="display: flex; flex-direction: row-reverse" th:text="${reply.hours}"></div>
                    </div>
                    <div class="col">
                        <div class="row" style="display: flex; flex-direction: row-reverse">
                            <button class="btn btn-danger" style="width: 40px; height: 40px">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                                    <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                                </svg>
                                ️️</button>
                            <button class="btn btn-primary mb-1 me-1" style="width: 40px; height: 40px" th:onclick="'acceptHours('+${reply.id}+', \''+'h'+${reply.id}+'\')'">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="bg-dark text-center text-white" style="position:relative; bottom:0; left:0; width:100%;margin-top:auto">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Text -->
        <section class="">
            <div style="text-align : center">
                Create and manage your team efficiently with us.
                We allow you to recruit the best professionals you are looking for!
            </div>
        </section>
        <!-- Section: Text -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 mt-2" style="background-color: rgba(0, 0, 0, 0.2);">
        <div class="text-white" style="text-shadow: 1px 1px 1px rgb(255 255 255 / 30%)">© 2021 Copyright: Group 2</div>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script>
	function formSubmit(){
		checkPassword();
		document.getElementById("submit").click();
	}
  function checkPassword() {
    var ok =  document.getElementById("password").value == document.getElementById("confirm_password").value;
	  var tmp = document.getElementById("confirm_password");

	  if(!ok){
		tmp.pattern = "$^";
		tmp.title = "The passwords don't match";

	  }else{

	   tmp.title = "";

	   tmp.pattern= ".*"

	   }
  }
</script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->

<script src="/js/announcement.js"></script>
<script>

</script>
</body>
</html>