<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>Sign up</title>
  <style>.shadow{box-shadow:inset 0rem -1rem 3rem rgb(0 0 0 / 25%), 0rem 1rem 1rem rgb(0 0 0 / 15%)!important}

    @media (max-width: 900px){
    .w-25{
      width: 40%!important;
    }
    }
     @media (max-width: 600px){
    .w-25{
      width: 80%!important;
    }
    }

    .alert-p{
    text-align: center;
    font-size: smaller;
    padding: 0.5rem 0.5rem;
    }

    .team-title {
      font-size: 30px;
      font-weight: bold;
      padding-left: 0;
     }

   #tags {
       margin-bottom: 10px;
   }


    .my-badge {
        border-radius: 20px;
        background: #0b5ed7;
        margin-right: 5px;
    }

    .email {
      margin-left: 10px;
      font-size: 13px;
      color: #999;
      text-decoration: none;
    }

    .ann-desc {
      margin-left: 10px;
    }

    .team-desc{
      word-break: normal;
      overflow-wrap: anywhere;
    }

</style>

</head>
<body class="bg-dark" style="
    min-height: 100vh;
    display: flex;
    flex-direction: column;
">
<div id="navid">
  <script src="/js/nav.js"></script>
</div>
<div class="container bg-light shadow rounded pt-5 ps-1 pe-1 pb-2 mt-5 pb-4" style="width : 100%; height : 100%; max-width: 900px;">
  <h1 class="display-4"> <center> Team info </center> </h1>
  <div class="row mb-3 ms-1 me-1 mt-4 p-1">
    <div class="col-4">
      <img style="margin-left: 2%" th:src="${logo}" width="100%" >
    </div>
    <div class="col">
      <div class="row">
        <div class="team-title" th:text="${name}">Nome team</div>
        <div id="tags">
          <span th:each="tag: ${tags}" class="badge my-badge" th:style="${tag.style}" th:text="${tag.tag}">tag</span>
        </div>
      </div>
      <div class="row">
        <div class="team-desc" style="" th:text="${description}">desc</div>
      </div>
    </div>
  </div>
</div>
<!--Announcements-->
<div th:if="${amIPm}" class="container bg-light shadow rounded pt-5 ps-1 pe-1 pb-2 mt-5 pb-4" style="width : 100%; height : 100%; max-width: 900px;">
  <div class="row mb-3 ms-1 me-1 mt-4 p-1" style="align-items: center;">
    <div class="col">
      <center>
        <h1 class="display-4"> Announcements </h1>
      </center>
    </div>
    <div class="col-4 ">
      <a id="pub_id" hidden th:href="@{/publishAnnouncement(team_id=${param.team_id})}" th:unless="${param.team_id == null}"></a>
      <button class="btn btn-primary" onclick="window.location.href = document.getElementById('pub_id').href;" >Publish announcement</button>
    </div>
  </div>
  <div th:each="announcement: ${announcements}">
    <div class="row mb-1 ms-1 me-1 mt-1 p-1">
      <a th:href="@{/viewAnnouncement(ann_id=${announcement.id})}" style="text-decoration: none!important; color: black">
        <div class="col">
          <div class="card p-2 ">
            <div style="font-size: large; font-weight: bold;" th:text="${announcement.title}"></div>
            <div class="ann-desc" style="" th:text="${announcement.description}"></div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="container bg-light shadow rounded pt-5 ps-1 pe-1 pb-2 mt-5 pb-4" style="width : 100%; height : 100%; max-width: 900px;">
  <h1 class="display-4"> <center> Team members </center> </h1>
  <div th:each="user: ${members}">
    <div class="row mb-3 ms-1 me-1 mt-4 p-1">
      <div class="col-1">
        <img style="margin-left: 2%; border-radius: 100%;" th:src="${user.propic}" width="100%" >
      </div>
      <div class="col">
        <div style="display: inline-block;" th:text="${user.name}"></div> <div class="badge my-badge" th:style="${user.roleStyle}" th:text="${user.role}"></div>
        <div style=""><a class="email" th:href="'mailto:'+${user.email}" th:text="${user.email}">email</a></div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="bg-dark text-center text-white" style="position:relative; bottom:0; left:0; width:100%;margin-top:auto">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Text -->
    <section class="">
      <div style="text-align : center">
        Create and manage your team efficiently with us.
        We allow you to recruit the best professionals you are looking for!
      </div>
    </section>
    <!-- Section: Text -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 mt-2" style="background-color: rgba(0, 0, 0, 0.2);">
    <div class="text-white" style="text-shadow: 1px 1px 1px rgb(255 255 255 / 30%)">© 2021 Copyright: Group 2</div>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script>
	function formSubmit(){
		checkPassword();
		document.getElementById("submit").click();
	}
  function checkPassword() {
    var ok =  document.getElementById("password").value == document.getElementById("confirm_password").value;
	  var tmp = document.getElementById("confirm_password");

	  if(!ok){
		tmp.pattern = "$^";
		tmp.title = "The passwords don't match";

	  }else{

	   tmp.title = "";

	   tmp.pattern= ".*"

	   }
  }
</script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
<script>

</script>
</body>
</html>