<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Sign up</title>
    <style>.shadow{box-shadow:inset 0rem -1rem 3rem rgb(0 0 0 / 25%), 0rem 1rem 1rem rgb(0 0 0 / 15%)!important}

    @media (max-width: 900px){
        .w-25{
          width: 40%!important;
        }
        .container{
            padding: 2rem!important;
        }
    }
     @media (max-width: 600px){
        .w-25{
          width: 80%!important;
    }
        .container{
            padding: 1.5rem!important;
        }
    }

    .alert-p{
    text-align: center;
    font-size: smaller;
    padding: 0.5rem 0.5rem;
    }

    .inactive-team {
        opacity: 0.6;
    }

    .my-badge {
        border-radius: 20px;
        background: #0b5ed7;
        margin-right: 5px;
    }
    .card-title{
        margin-bottom:0px;
    }
    #Announcements{
    }
    .announcement{
        text-align: left;
    }
</style>

</head>
<body class="bg-dark" style="
    min-height: 100vh;
    display: flex;
    flex-direction: column;
">
<div id="navid">
    <script src="/js/nav.js"></script>
</div>
<div class="container bg-light shadow p-5 mt-5" style="width : 100%; height : 100%;">

            <h1 class="display-4">
                <center>Announcements</center>
            </h1>
        <div class="row mt-4" id="Announcements">
            <div class="col-4 mb-4" th:each="announcement: ${announcements}">
            <center>
                <div class="card p-2 announcement" style="">
                    <h5 class="card-title" th:text="${announcement.title}">No announcements</h5>
                    <div class="skill-list mb-3"> <span class="badge my-badge" th:each="skill: ${announcement.skills}" th:text="${skill.name}">No Skill</span></div>

                    <p class="card-text" style="height: 144px" th:text="${announcement.description}">No Description</p>
                    <center><a th:href="@{/viewAnnouncement(ann_id=${announcement.id})}" class="btn btn-primary" style="width: fit-content;">View</a></center>
                </div>
            </center>

        </div>
    </div>
</div>


<!-- Footer -->
<footer class="bg-dark text-center text-white" style="position:relative; bottom:0; left:0; width:100%;margin-top:auto">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Text -->
        <section class="">
            <div style="text-align : center">
                Create and manage your team efficiently with us.
                We allow you to recruit the best professionals you are looking for!
            </div>
        </section>
        <!-- Section: Text -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 mt-2" style="background-color: rgba(0, 0, 0, 0.2);">
        <div class="text-white" style="text-shadow: 1px 1px 1px rgb(255 255 255 / 30%)">© 2021 Copyright: Group 2</div>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
</body>
</html>